*{
    font-family: 'Poppins' ,sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    
}
.common-button{
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: 600px;
    background-color: #2563eb;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    color: white;
    border: none;
}
nav{
    margin: 0 120px;
    display: flex;
}
header{
    gap: 35px;
    margin: 0 150px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
    justify-content: center;
    align-items: center;  
}
nav a{
    color: #565656;
    margin-left: 22px;
    text-decoration: none;
    
    
}
/* First Section Start*/

.first-section{

    background-image: linear-gradient( to right, rgba(0, 0, 0, 1)
,rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),url(./assets/banner.jpg);
background-size: cover;
margin: 20px auto;
padding: 150px;
background-position: center;
background-repeat: no-repeat;
width: 82%;
}
.font{
    width: 100%;
    height: auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center; 
    text-align: center;
    padding: 80pxpx;
    margin: auto;
}
.font h1{
    color: white;
   
}
.font p{
    color: rgb(185, 180, 180);
}

/* speaker section start */

.section-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}
.section-container h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #111;
}
.speaker-class-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 35px;
}
.speaker-box {
    background: #ffffff;
    border: 1px solid #e2e8f0;
    border-radius: 10px;  
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.speaker-box img {
    width: 100%;
    height: 100%
    object-fit: cover;
}
.speaker-information {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.speaker-information span{
    color: #2a4cd4;
    font-size: 12px;
    font-weight: bold;
}

.pricing-main{
    text-align: center;
    padding: 40px 0;
 }
 .pricing-column{
    width: 80%;
    max-width: 1200px;
    margin: auto;
     
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
 }
 .pricing-box{
     border: 1px solid #e5e5e5;
  border-radius: 12px;
  margin-top: 40px;
 }
 .pricing-main h2{
     font-size: 2.5rem;
    margin: 35px 0;
 }
 .extra-box{
    background-color: #1c2338;
    border: none;
 }
 .extra-box h2{
    color: white;
 }
